[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
#    sysegg
    test
    omelette
    console_scripts
    sphinx
    pydev
develop = .
eggs =
    raster-tools


[versions]
# Specific pins
raster-tools =
zc.buildout =
zc.recipe.egg =

# Reported by buildout.
setuptools = 3.1
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/nensskel.git
# lizard-ui = svn https://office.nelen-schuurmans.nl/svn/Products/djangoapps/lizard-ui/trunk


# [sysegg]
# # Add eggs here that are best handled through OS-level packages.
# recipe = osc.recipe.sysegg
# force-sysegg = true
# eggs =


[test]
recipe = pbp.recipe.noserunner
eggs =
    raster-tools
    raster-tools[test]
defaults = raster-tools


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =
