[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
flake8 = "*"
ipdb = "*"
ipython = "*"
nose = "*"

[packages]
pygdal = "==3.0.4.*"
threedigrid = {extras = ["geo", "results"]}
"e1839a8" = {editable = true, path = "."}
setuptools = "==57.5.0"

[requires]
python_version = "3"
