[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
flake8 = "*"
ipdb = "*"
ipython = "*"
nose = "*"

[packages]
pygdal = "==1.11.3.*"
threedigrid = {extras = ["geo", "results"]}
"e1839a8" = {editable = true, path = "."}

[requires]
python_version = "3.5"
