name: CI

# Run on pull requests. And on master itself.
on:
  push:
    branches:
      - master
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or
# in parallel
jobs:
  build:
    runs-on: ubuntu-16.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can
      # access it
      - uses: actions/checkout@v2

      - name: Build docker
        run: docker-compose build --build-arg uid=`id -u` --build-arg gid=`id -g` lib

      - name: Create virtualenv
        run: docker-compose run --rm lib virtualenv .venv --system-site-packages

      - name: Install requirements
        run: docker-compose run --rm lib .venv/bin/pip install -r requirements.txt

      - name: Install our package
        run: docker-compose run --rm lib .venv/bin/pip install -e .[test]

      - name: Run tests
        run: docker-compose run --rm lib .venv/bin/pytest

      - name: Flake8
        run: if docker-compose run --rm lib .venv/bin/flake8 > flake8.txt; then echo 'flake8 is a success'; else cat flake8.txt; false; fi
